* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #e5e5e5;
}

body {
    background: #282828;
}

#table-wrapper {
    display: flex;
    flex-direction: column;
    /* bug: overflow is not visible */
    clip-path: inset(100% round 8px);
    background: #484848;
}

.page-button:hover:not(.disabled) {
    background: #575757;
}

.page-button::before {
    font: var(--fa-font-solid);
}

.page-button {
    border-radius: 48px;
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 16px;
    font-size: 14px;
    cursor: pointer;
}

.page-button.disabled {
    opacity: 50%;
    cursor: default;
}

.page-button.left::before {
    content: '\f053';
}

.page-button.right::before {
    content: '\f054';
}

#table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

tr {
    border-top: #676767 1px solid;
    border-bottom: #676767 1px solid;
}

tr:hover {
    background: #545454;
}

td,th {
    padding: 8px 18px;
}

th {
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

thead {
    background: #575757;
}

.controls {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 12px;
    align-items: center;
    width: 100%;
}

select {
    padding: 16px 12px;
    background: transparent;
    border: transparent 1px solid;
}

select:hover {
    border-bottom: white 1px solid;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.sort-indicator::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.sort-indicator.ascending::before {
    font: var(--fa-font-solid);
    content: '\f0d8';
}

.sort-indicator.descending::before {
    font: var(--fa-font-solid);
    content: '\f0d7';
}

.spacer {
    flex-grow: 1;
}

#container {
    padding: 48px 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container > * {
    width: 100%;
}

.disabled {
    cursor: none;
    opacity: 0.5;
}