* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #e5e5e5;
}

body {
    background: #282828;
}

#table {
    border-radius: 8px;
    background: #484848;
}

tr {
    border-top: #676767 1px solid;
    border-bottom: #676767 1px solid;
}

tr:hover {
    background: #545454;
}

td,th {
    padding: 8px 16px;
}

th {
    /*letter-spacing: 0;*/
    font-weight: 600;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.sort-indicator::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.sort-indicator.ascending::before {
    font: var(--fa-font-solid);
    content: '\f0d8';
}

.sort-indicator.descending::before {
    font: var(--fa-font-solid);
    content: '\f0d7';
}

.spacer {
    flex-grow: 1;
}

#container {
    padding: 0 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container > * {
    width: 100%;
}

.disabled {
    cursor: none;
    opacity: 0.5;
}